@import "../../index.scss";

// Font Weights
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 500;
$bold: 700;
$ultra: 800;

// Base Font
$base-line-height: 1.6em;

// Colors
$black: $primary-background;
$dark-gray: rgba($black, 0.8);
$gray: rgba($black, 0.6);
$light-gray: rgba($black, 0.4);
$lighter-gray: rgba($black, 0.2);
$white: #ffffff;
$accent: $primary-color;

// Form Settings
$max-width: 600px;
$max-height: 400px;
$gutters: 24px;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: rgba($black, 0.8);
  width: 100%;
  height: 100%;
}

.form {
  z-index: 15;
  position: relative;
  background: $white;
  width: $max-width;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba($black, 0.1);
  box-sizing: border-box;
  margin: 100px auto 10px;
  overflow: hidden;

  .err {
    color: $tertiary-color;
    font-weight: $semibold;
    margin-bottom: 1.3rem;
    padding: 0.5rem 0 1rem 0;
  }

  p {
    padding: 0rem 4rem 1rem 4rem;
    line-height: 1.6;
  }

  &-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;

    &:last-child {
      margin: 0;
    }

    label {
      display: block;
      margin: 0 0 10px;
      color: $gray;
      font-size: 12px;
      font-weight: $semibold;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.2em;

      .two & {
        color: $white;
      }
    }

    input {
      outline: none;
      display: block;
      background: rgba($black, 0.1);
      width: 100%;
      border: 0;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 12px 20px;
      color: $gray;
      font-family: inherit;
      font-size: inherit;
      font-weight: $semibold;
      line-height: inherit;
      transition: 0.3s ease;

      &:focus {
        color: $dark-gray;
      }

      .two & {
        color: $white;

        &:focus {
          color: $white;
        }
      }
    }

    button {
      outline: none;
      background: $accent;
      width: 100%;
      border: 0;
      border-radius: 4px;
      padding: 12px 20px;
      color: $white;
      font-family: inherit;
      font-size: inherit;
      font-weight: $semibold;
      line-height: inherit;
      text-transform: uppercase;
      cursor: pointer;
      transition: all ease-in 0.3s;

      &.button-green {
        background: $secondary-color;
        color: #292929;
      }

      &:disabled,
      &[disabled] {
        background-color: #cccccc;
        color: #a5a5a5;
        cursor: not-allowed;
      }
    }
  }

  // Panel
  &-panel {
    padding: 30px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;
    &:before {
      @extend .overlay;

      content: "";
      display: block;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s ease;
    }

    &.hidden {
      &:before {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // Header
  &-header {
    margin: 0 0 1.3rem;

    h1 {
      padding: 4px 0;
      color: $accent;
      font-size: 24px;
      font-weight: $bold;
      text-transform: uppercase;

      .two & {
        position: relative;
        z-index: 40;
        color: $white;
      }
    }
  }
}
